<html>
<head>
</head>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

{% if not error %}

<body>
<h1> Purchase Ticket</h1>
<table>
	<th>Airline Name</th>
    <th>Flight Number</th>
    <th>Departure Date</th>
    <th>Departure Time</th>
	<tr>
		<td>{{data['airline_name']}}</td>
		<td>{{data['flight_number']}}</td>
        <td>{{data['departure_date']}}</td>
        <td>{{data['departure_time']}}</td>
	</tr>
</table>
</br>
<text>{{occupancy}} people has already booked this flight.</text></br>
<text>Your price is: {{price}}.</text></br>

<form action="/purchase_ticket_submit" method="POST", id = 'purchase_ticket_submit'>
	<select name="card_type" id="card_type", form="purchase_ticket_submit">
  		<option value="credit">Credit Card</option>
  		<option value="debit">Debit Card</option>
 	</select>
	<input type="card_number" name = "card_number" placeholder="Card Number" required/> </br>
	<input type="name_on_card" name = "name_on_card" placeholder="Name On Card" required/></br>
	<label for="exp_month">Expiration Date: </label>
 	<select name="exp_month" id="exp_month" form="purchase_ticket_submit">
		<option value="01">January</option>
		<option value="02">February</option>
   		<option value="03">March</option>
   		<option value="04">April</option>
   		<option value="05">May</option>
   		<option value="06">June</option>
   		<option value="07">July</option>
   		<option value="08">August</option>
   		<option value="09">September</option>
		<option value="10">October</option>
   		<option value="11">November</option>
   		<option value="12">December</option>
	</select><select name="exp_day" id="exp_day" form="purchase_ticket_submit">
   		<option value="01">1</option>
   		<option value="02">2</option>
   		<option value="03">3</option>
   		<option value="04">4</option>
   		<option value="05">5</option>
   		<option value="06">6</option>
   		<option value="07">7</option>
   		<option value="08">8</option>
   		<option value="09">9</option>
		<option value="10">10</option>
   		<option value="11">11</option>
   		<option value="12">12</option>
   		<option value="13">13</option>
   		<option value="14">14</option>
   		<option value="15">15</option>
   		<option value="16">16</option>
   		<option value="17">17</option>
   		<option value="18">18</option>
   		<option value="19">19</option>
   		<option value="20">20</option>
   		<option value="21">21</option>
   		<option value="22">22</option>
   		<option value="23">23</option>
   		<option value="24">24</option>
   		<option value="25">25</option>
   		<option value="26">26</option>
   		<option value="27">27</option>
   		<option value="28">28</option>
   		<option value="29">29</option>
   		<option value="30">30</option>
   		<option value="31">31</option>
 </select>
   <input type="text" name = "exp_year" placeholder="year"/>
	<input type="hidden" id="airline_name" name="airline_name" value = "{{data['airline_name']}}" />
	<input type="hidden" id="flight_number" name="flight_number" value= "{{data['flight_number']}}" />
	<input type="hidden" id="departure_date" name="departure_date" value= "{{data['departure_date']}}" />
	<input type="hidden" id="departure_time" name="departure_time" value= "{{data['departure_time']}}" />
	<input type="hidden" id="sold_price" name="sold_price" value = "{{price}}" />
	<input type="submit" value = Confirm />

</form>

{% endif %}

{% if error %}
	<p class="error"><stong>Error:</stong> {{error}}</p>
{% endif %}

<a href="/search_flights/_">Return</a>
<a href="/logout">Logout</a>
</body>
</html>
